html {
  scroll-behavior: smooth;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  background-color: #f0f2f5;
}

header {
  background-color: #125d8a;
  position: sticky;
  top: 0;
  z-index: 1000;
}

div {
  position: sticky;
}

nav {
  position: sticky;
  top: 0px;
  z-index: 999;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  margin: 5px;
  background-color: #1f78b4;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #0b4f70;
}

.catalog-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px 0;
}

.product-card {
  width: 300px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  scroll-snap-align: start;
}

.product-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.product-card h3 {
  margin: 10px 0 5px;
  color: #333;
}

.product-card .price {
  color: #555;
  font-weight: bold;
  margin-bottom: 15px;
  padding: 0 10px;
}

.product-card button {
  background-color: #b3c6d2;
  border: none;
  color: rgb(92, 67, 67);
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
  margin-bottom: 15px;
}

.product-card button:hover {
  background-color: #68bad6;
}

.product-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

section {
  scroll-margin-top: 80px;
}

footer {
  background-color: #b3c6d2;
  color: rgb(92, 67, 67);
  text-align: left;
  padding: 15px;
  margin-top: 20px;
}

@media (max-width: 768px) {
  nav {
    position: static;
  }
  section {
    scroll-margin-top: 60px;
  }
}